<div>
    @if (!string.IsNullOrEmpty(Title))
    {
        <h2>@Title</h2>
    }

    <div class="checkbox-container">
        @if (CheckboxItems is not null && CheckboxItems.Any())
        {
            @foreach (IssueTypeCheckboxItem item in CheckboxItems)
            {
                <div class="checkbox-item">
                    <input type="checkbox" value="@item.Key" id='@("cbxCode"+item.Key)' @bind="item.IsChecked" />
                    <label for='@("cbxCode"+ item.Key)'>@item.Value</label>
                </div>
            }
        }
    </div>
</div>