@page "/"

<h2>Browse Issue</h2>

<NavLink href="/Manage">Manage</NavLink>
<NavLink href="/Import">Import</NavLink>


<div>
    <div>Pick a spec version:</div>

    <div>
        <select @bind="@PickedVersion" for="specVersion">
            <option value="latest">Latest</option>
            @foreach (string version in SpecVersionCollection)
            {
                <option value="@version">@version</option>
            }
        </select>
    </div>

    <div>
        @if (IssueCollection is null)
        {
            <div>Loading ...</div>
        }
        else if (IssueCollection.Any())
        {
            @foreach (PerfIssueItem entry in IssueCollection)
            {
                <div class='card'>
                    <div class="issue-item">
                        <div class='issue-item-title'>
                            Issue #
                        </div>
                        <div>
                            @entry.PermanentId
                            @if (!string.IsNullOrEmpty(entry.LegacyId))
                            {
                                <div>(Legacy id: @entry.LegacyId)</div>
                            }
                        </div>
                    </div>

                    <div class="issue-item">
                        <div class='issue-item-title'>Title</div>
                        <div>@entry.Title</div>
                    </div>

                    <div class="issue-item">
                        <div class='issue-item-title'>Description</div>
                        <div>@entry.Description</div>
                    </div>

                    <div class="issue-item">
                        <div class='issue-item-title'>Recommendation</div>
                        <div>@entry.Recommendation</div>
                    </div>

                    <div class="issue-item">
                        <div class='issue-item-title'>Rationale</div>
                        <div>@entry.Rationale</div>
                    </div>

                    <div class="issue-item">
                        <div class='issue-item-title'>HelpLink</div>
                        @if (entry.DocURL is not null)
                        {
                            <div><a href="@entry.DocURL" target="_blank">@entry.DocURL</a></div>
                        }
                        else
                        {
                            <div>Not available.</div>
                        }
                    </div>
                </div>
            }
        }
        else
        {
            <div>No registred entry fetched.</div>
        }
    </div>
</div>